<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoResidencias.Properties.Settings.ActivoJcasConnectionString"
            connectionString="Data Source=.;Initial Catalog=ActivoJcas;Persist Security Info=True;User ID=JMAS;Password=qwerty"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>